.sizeWrapper {
  top: -99999999999px;
  position: absolute;
  width: 999999px;
  height: 9999999px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  & > div {
    width: fit-content;
  }
}
